.container {
  height: 100vh;
  align-content: center;
}

.heroSection {
  margin: 0 auto;
}

.title {
  font-size: 72px;
  margin: 0;
  background: linear-gradient(to right, var(--mantine-color-indigo-filled), var(--mantine-color-violet-filled));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
